body {
  margin: 0;
  background-color: hsl(302, 10%, 99%);
  font-family: 'Varela Round', sans-serif;
  font-size: 5vh;
  color: hsl(302, 10%, 99%);
}

main {
  /* 16:9 Portrait */
  width: 56.25vh;
  height: 92vh; /* would think this should be 100? */
  border-radius: 1%;
  text-align: center;
  padding: 4vh;
  margin: 0 auto;
}

h1 {
  display: inline;
  color: rgba(0, 0, 0, 0.125);
}

#peeps {
  padding: 6vh 0;
}

.peep {
  text-transform: uppercase;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(0, 0, 0, 0.25);
}

button {
  margin-top: 2vh;
  border: none;
  background-color: hsl(302, 10%, 99%);
  border-radius: 100%;
  width: 20vh;
  height: 20vh;
  font-size: 0.8em;
  font-family: 'Varela Round', sans-serif;
  padding: 0%; /* force iOS button width */
  background-color: rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

button:active {
  background-color: rgba(0, 0, 0, 0.75);
}

button:focus {
  outline: 0;
}
